<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taweesoft.joinpa" >

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.example.taweesoft.joinpa.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.taweesoft.joinpa.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="News Feed" >
        </activity>
        <activity
            android:name=".MyEventView.MyEventActivity"
            android:label="My events" >
        </activity>
        <activity
            android:name=".CreateEvent.FriendView.FriendListView.FriendListActivity"
            android:label="Friends list" >
        </activity>
        <activity
            android:name=".CreateEvent.NewEvent.NewEventActivity"
            android:label="Create event" >
        </activity>

        <service android:name=".GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.androidbegin.gcmtutorial" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".JoiningEventView.OneEvent"
            android:label="@string/title_activity_one_event" >
        </activity>
        <activity
            android:name=".MyJoinedEvent.MyJoinedEventActivity"
            android:label="Recent" >
        </activity>
        <activity
            android:name=".WaitingFriendListActivity"
            android:label="Friends request" >
        </activity>
    </application>

</manifest>
